


.sidenav {
  min-height: 580px;

  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  float:left;
  width:15%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

#header{
  background-color: lightblue;
  width:100%;
  height:90px;
  text-align: center;
}

#main{
  float:left;
  width:85%;
  background-color: lightgray;
  min-height: 620px
}
#sidebar-right{
  float:left;
  width:15%;
  background-color: red;
}
#footer{
  clear:both;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: lightblue;
}
#main{
  min-height: 600px;
}

